<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      CRUD medical App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card-header>
    <ion-card-title>ISI DATA TRANSAKSI</ion-card-title>
  </ion-card-header>

  <ion-content>
  <ion-item>
    <ion-label position="floating">Nama Obat</ion-label>
    <ion-input [(ngModel)]="newItem.title"></ion-input>
  </ion-item>
 
  <ion-item>
      <ion-label position="floating">Jumlah</ion-label>
      <ion-input [(ngModel)]="newItem.stok"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Harga (Rp.)</ion-label>
      <ion-input [(ngModel)]="newItem.harga"></ion-input>
    </ion-item>

 
  <ion-button size="small" fill="outline" expand="block" (click)="addItem()">Simpan</ion-button>
  
 
  <ion-list #mylist>
 
    <ion-list-header>
      <ion-label>Daftar Transaksi :</ion-label>
    </ion-list-header>
 
    <ion-item-sliding *ngFor="let item of items">
 
      <ion-item>
        <ion-label text-wrap>
          <h3>Data Transaksi</h3>
          <p>{{ item.title }}</p>
          <p>{{ item.stok }}</p>
          <p>Rp.{{ item.harga }}</p>
          <p>{{ item.modified | date:'short'}}</p>
        </ion-label>
      </ion-item>
 
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="updateItem(item)">Update</ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>
 
</ion-content>

<ion-toolbar color="primary">
<ion-footer> 
  By : S. Fachri Nst(175610064)
</ion-footer>
</ion-toolbar>